<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mettliga Table</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Mettliga Table</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Provided</th>
        <th>Taken</th>
	<th>Diff</th>
      </tr>
    </thead>
    <tbody>
      {% for eater in mett_table%}
      <tr>
        <td>{{ eater.name }}</td>
        <td>{{ eater.provided_meals}}</td>
        <td>{{ eater.taken_meals }}</td>
        <td>{{ eater.diff }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
